php_value upload_max_filesize 500M
php_value post_max_size 500M
Options -Indexes
ErrorDocument 404 /error_handle.php
ErrorDocument 500 /error_handle.php
# PHP error handling for development servers
php_flag display_startup_errors off
php_flag display_errors on
php_flag html_errors on
php_flag log_errors on
php_flag ignore_repeated_errors off
php_flag ignore_repeated_source off
php_flag report_memleaks on
php_flag track_errors on
php_value docref_root 0
php_value docref_ext 0
php_value error_log /home/path/public_html/domain/PHP_errors.log
php_value error_reporting -1
php_value log_errors_max_len 0
FallbackResource /base.php